.contactFormContainer {
    width: 100%;
    margin: 0px auto;
    background-color: #b2afe731;

    .wrapper {
        padding: 40px 0px;
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin: auto;
    }

    h3 {
        font-size: 32px;
        color: #6c63ff;
    }

    p {
        color: #333333ec;

        span {
            color: #6b63ffc5;
            font-weight: bold;
            font-style: italic;
        }
    }
}

.submitButton {
    margin: auto;
    width: 400px;
    padding: 20px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bold;
    color: white;
    background-color: #6c63ff;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

    &:hover {
        background-color: #4c46b7c4;
    }
}

.social {
    display: flex;
    gap: 25px;
    font-size: 34px;
    margin-top: 10px;
    justify-content: center;

    span {
        color: #6b63ffc5;
        font-weight: bold;
    }
}

.contactTextBoxContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactLabel {
    display: flex;
    align-items: end;
    gap: 10px;
    color: #333;
    font-size: 20px;

    span {
        font-size: 12px;
        color: #3333335d;
        margin-bottom: 3px;
    }
}

.contactInput,
.contactTextArea {
    width: 100%;
    padding: 20px;
    border: 1px solid #3333335d;
    background-color: #f1f1f1;
    font-size: 18px;
}
