@import "../../mixins.scss";

.faqContainer {
    background-color: #e3eff5;
    background-color: #001e2b;
    padding: 60px 0px;
}

.faqWrapper {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include breakpoint(large) {
        width: 80%;
        gap: 50px;
    }

    @include breakpoint(xlarge) {
        width: 60%;
    }

    h3 {
        text-align: center;
        color: white;
        font-size: 24px;
        border-bottom: 5px solid white;
        width: fit-content;
        padding-bottom: 10px;

        @include breakpoint(large) {
            font-size: 32px;
        }
    }
}
