.nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: transparent;
    font-size: 24px;
    width: 80%;
    margin: auto;
}

.fixed {
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #f1f1f1;
    transition: all 0.3s linear;
}

.links {
    display: flex;
    gap: 30px;
    list-style: none;
    color: #645cf7;
}

.logo {
    width: 120px;
}

.logoImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.active {
    border-bottom: 3px solid #645cf7;
}
