.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    height: 60vh;

    h1 {
        font-size: 64px;
        color: #333;
    }

    p {
        font-size: 32px;
        width: 900px;
        text-align: center;
        line-height: 1.5;
        color: #333333ec;
    }
}

.heroImage {
    width: auto;
    height: auto;
    object-fit: cover;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.contact {
    padding: 20px 30px;
    color: white;
    background-color: #333;
}
