@import "../../mixins.scss";

.techCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    gap: 80px;
    border-radius: 30px;
    background-color: black;
    color: white;
    padding: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
    transition: box-shadow 0.3s ease-in-out;
    transition: transform 0.5s ease-in-out;

    &:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
        transform: scale(1.02);
    }

    @include breakpoint(medium) {
        width: 70%;
    }

    @include breakpoint(medium) {
        width: 43%;
    }

    @include breakpoint(xlarge) {
        width: 40%;
    }

    @include breakpoint(xxlarge) {
        width: 30%;
    }

    h2 {
        font-size: 2em;
        white-space: wrap;
    }
}

.bottomWrapper {
    display: flex;
    justify-content: space-between;

    button {
        font-size: 18px;
        text-transform: capitalize;
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 20px;
        position: relative;
        padding-bottom: 5px;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: white;
            transition: width 0.7s ease-in-out;
        }

        &:hover:before {
            width: 0%;
        }
    }

    span {
        font-size: 78px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: slide-up 0.5s ease-in-out forwards;

    &.closing {
        animation: slide-down 0.5s ease-in-out forwards;
    }

    h5 {
        color: white;
        font-size: 18px;
        margin-bottom: 10px;
    }

    p {
        color: white;
        font-size: 16px;
        margin-bottom: 10px;
        padding: 0 20px;
        text-align: left;
        line-height: 1.5;
        width: 80%;
    }

    button {
        width: 150px;
        padding: 5px;
        background-color: #333;
        color: white;
        font-size: 14px;
        font-weight: bold;
    }
}

.overlayHidden {
    display: none;
}

@keyframes slide-up {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-down {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
