@import "../../mixins";

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 0px;

    @include breakpoint(medium) {
        padding-bottom: 50px;
        width: 80%;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 30px;
        border-bottom: 5px solid #b2afe7;

        @include breakpoint(medium) {
            font-size: 36px;
        }
    }
}

.helpContainer {
    position: relative;
}

.container {
    position: relative;
}
