@import "../../mixins.scss";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    background-color: #e3eff5;
}

.wrapper {
    width: 80%;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    gap: 60px;
    display: flex;
    flex-direction: column;
    background-color: #6c63ff;
    border-radius: 30px;
    position: relative;

    @include breakpoint(large) {
        gap: 100px;
    }

    h3 {
        font-size: 20px;
        color: #fff;
        width: 70%;

        @include breakpoint(large) {
            font-size: 36px;
        }
    }

    p {
        font-size: 14px;
        color: #ffffff;
        width: 100%;

        @include breakpoint(large) {
            font-size: 24px;
            width: 80%;
        }

        @include breakpoint(xlarge) {
            width: 70%;
        }
    }

    span {
        position: absolute;
        top: 0;
        right: 30px;
        color: white;
        font-size: 5em;

        @include breakpoint(large) {
            font-size: 10em;
        }

        @include breakpoint(xlarge) {
            font-size: 12em;
        }
    }

    a {
        color: white;
        font-size: 14px;
        border: 1px solid white;
        border-radius: 50px;
        padding: 10px;
        width: fit-content;
    }
}

.bottomWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
