@import "../../mixins.scss";

.footerContainer {
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #6c63ff;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
    gap: 10px;

    @include breakpoint(medium) {
        flex-direction: row;
        padding: 20px 80px;
        font-size: 20px;
        gap: 0px;
    }
}

.socialIcon {
    &:hover {
        scale: 1.2;
    }
}

.socialList {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 20px;

    @include breakpoint(medium) {
        flex-direction: row;
        gap: 20px;
        font-size: 24px;
    }
}

.mainContent {
    padding: 10px 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f0fa;
    color: #333;

    @include breakpoint(medium) {
        padding: 40px 80px;
        gap: 0px;
        flex-direction: row;
    }
}

.logoDiv {
    width: 50%;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    @include breakpoint(medium) {
        width: 10%;
    }
}

.footerList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;

    h5 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    span {
        display: block;
        height: 2px;
        width: 30px;
        background-color: #6c63ff;
    }

    @include breakpoint(medium) {
        gap: 15px;
    }
}

.contactFooterIcon {
    margin-right: 10px;
}

.copyright {
    padding: 10px;
    background-color: #7a7a7a48;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}
