@import "../../mixins.scss";

.containerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerWrapperHelp {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;

    @include breakpoint(medium) {
        gap: 50px;
    }
}

.heading {
    margin-left: 5%;
    padding: 10px;
    color: #333;
    border: 1px solid #333;
    border-radius: 50px;
    width: fit-content;
    font-size: 18px;
}

.helpContainer {
    padding: 30px 0;
    background-color: #f0f0fa;
}

.serviceList {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;

    li {
        padding: 10px;
        color: #333;
        border: 1px solid #333;
        border-radius: 50px;
    }
}

.activeLink {
    background-color: #333;
    color: #fff;
}
