@import "../../mixins.scss";

.containerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerWrapperHelp {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;

    @include breakpoint(medium) {
        gap: 50px;
    }
}

.heading {
    margin-left: 5%;
    color: #333;
    width: fit-content;
    font-size: 28px;
}

.helpContainer {
    padding: 30px 0;
    background-color: #f0f0fa;
}

.serviceList {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;

    @include breakpoint(medium) {
        gap: 30px;
    }

    li {
        padding: 10px;
        color: #333;
        border: 1px solid #333;
        border-radius: 50px;
        text-align: center;
        font-size: 14px;

        @include breakpoint(medium) {
            font-size: 16px;
        }
    }
}

.activeLink {
    background-color: #333;
    color: #fff;
}
